body{
  display: flex;
  justify-content: center;
}
button{
  margin: 20px;
}
input{
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid;
  border-radius: 6px;
  font-size: 1.1rem;
  box-sizing: border-box;
}
input:focus{
  outline: none;
  border-color: #411e39;
  box-shadow: 0 0 5px #411e39;
}
header{
  background-color: #411e39;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
}
section{
  background-color: #f0f0f028;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
th, td{
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}
tr{
  border: 1px solid #333;
}
table{
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.painel{
  background-color: bisque;
  color: #333;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(#000000, black, black, alpha);
  width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.input{
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 2px solid;
  border-radius: 6px;
  font-size: 1.1rem;
  box-sizing: border-box;
}
.resultado{
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 20px;
}
.cinza{color: #333; background-color: gray;}
.verde{color: #00ff00; background-color: green; border: 1px solid #c36;}
.vermelho{color: red; background-color: #990000; border: 1px solid #f5c6;}

.app-container{
  background-color: #ae5cbe67;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: max-content;
  padding: 20px;
  border-radius: 12px;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.item{
  background-color: #f0f0f028;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px #0000001a;
  width: 150px;
  text-align: center;
}
.fonte{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}