@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #4e73df;
    box-shadow: 0 0 10px rgba(78, 115, 223, 0.3);
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

select:focus {
    border-color: #4e73df;
    box-shadow: 0 0 10px rgba(78, 115, 223, 0.3);
}

select option{
    font-size: 12px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #36b9cc, #4e73df);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
}