* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f3e5f5;
    text-align:center;

}

.banner-container {
    width: 100%;
    height: 400px;
    background-color: #4a148c;
    overflow: hidden;
    display: flex;
    justify-content: center;
    

}

.banner-img {
    width: auto;
    height: 100%;
    object-fit: contain;
    

}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;   
    list-style: none;
    padding: 15px 0;
    background-color: #4a148c;

}

.navbar a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   text-transform: uppercase;

}

.descricao {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    line-height: 1.6;

}

.descricao p {
    margin-bottom: 20px;
    color: #4a148c;

}

.servicos {
    display: flex; 
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;

}

.card {
    background-color: white;
    border: 2px solid #4a148c; 
    border-radius: 15px; 
    padding: 20px;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.btn-enviar {
    background-color: #4a148c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor:pointer;

}

.container-produtos {
   display: flex; 
   justify-content: flex-start;
   gap: 30px; 
   overflow-x: auto;
   padding: 20px;
   
}

 

.item {
    flex: 0 0 240px;
    background-color: white; 
    border: 2px solid #4a148c;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
}

.item img {
    border-radius: 10px;
    margin-bottom: 10px;
}

.item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);

}

.rodape {
  background-color: #4a148c;
  color: white;
  padding: 30px 20px;
  margin-top: 60px;
  font-size: 14px;

}
