/* Configuração geral para a página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

/* Diferentes pesos de fonte usando classes */

.leve {
    font-weight: 300; /* Mais fino que o normal */
}

.normal {
    font-weight: normal; /* O mesmo que 400 */
}

.negrito {
    font-weight: bold; /* O mesmo que 700 */
}

.extra-negrito {
    font-weight: 900; /* O nível máximo de espessura */
}