body{
    background-color: bisque;
    margin: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: white;
    padding: 60px 200px;
    width: 200px;
    display: auto;
    align-items: center;
    margin: auto;
    font-size: 1em;
    border-radius: 50px;
    box-shadow: 0px 4px 15px;
    

}

 input{
    margin-bottom: 20px;
    padding: 10px;
    
}

button{
    background-color: bisque;
    padding: 15px 50px;
    border-radius: 30px;
    cursor: pointer;
}