/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Container principal */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 20px;
    color: #333;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
h3 {
    margin-bottom: 20px;
    color: #333;
}

/* Label */
label {
    font-weight: bold;
    color: #555;
}

/* Input */
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
}

input[type="number"]:focus {
    border-color: #002db4;
    outline: none;
}

/* Área de resultado */
#resultado {
    margin-top: 15px;
    font-size: 16px;
    white-space: pre-line;
    font-weight: bold;
    color: #231616;
    min-height: 40px;
}

/* Botões */
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

/* Botão iniciar */
#startBtn {
    background-color: #4e73df;
    color: white;
}

#startBtn:hover {
    background-color: #2e59d9;
}

/* Botão resetar */
#resetBtn {
    background-color: #ab0e00;
    color: white;
}

#resetBtn:hover {
    background-color: #ed1901;
}
