body{
    margin: 0%;
    background-color:  rgb(243, 181, 142);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

header{
    background: url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b) center/cover;
    text-align: center;
    color: white;
    padding: 100px 0px;
}

header h1{
    font-size: 3em;
    padding-bottom: 20px;
}

.B1{
    background-color: rgb(237, 101, 16);
    color: white;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.container{
   padding: 50px 20px;

}

.card-form{
    background-color: white;
    max-width: 1100px;
    margin: auto;
    padding: 30px 20px;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

.titulo-form{
    padding-top: 10px;
    font-size: 2em;
}

.nome{
    padding-top: 20px;
    margin: 10px;
    
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: 800;
}

input, select{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
}

.animal{
    padding-top: 30px;
    margin: 10px;
}

.porte{
    padding-top: 30px;
    margin: 10px;
}

.data{
    padding-top: 30px;
    margin: 10px;

}

.horario{
    padding-top: 30px;
    margin: 10px;
}

.pagamento{
    padding-top: 30px;
    margin: 10px;
}

.botao{
    width: 10%;
    background-color: rgb(237, 101, 16);
    border-radius: 8px;
    color: white;
    padding: 13px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s;
    text-decoration: none;
}

.botao:hover{
    box-shadow: 0 10px 20px rgba(82, 11, 11, 0.2);
}
