* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 25px;
    color: #333;
}

.input-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
select,
button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #4facfe;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00c6ff;
}

.resultado {
    margin-top: 25px;
}

#classificacao {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#mensagemEstacao {
    font-size: 14px;
    color: #555;
}