body{
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
}
.box{
    background-color:wheat;
    padding: 20px;
    margin: 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}