body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    text-shadow: 1px 1px 2px yellow;
}
.tabuada, .calculadora{
    background-color: aqua;
    justify-items: center;
    align-items: center;
    height: 350px;
    padding: 30px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
}
input{
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px black;
    padding: 10px;
}
select{
    font-size: 20px;
    box-shadow: inset 0 0 3px black;
    border-radius: 5px;
    padding: 10px;
}
button{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    justify-items: center;
    background-color: yellow;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 3px black;
}
button:hover{
    background-color: orange;
    color: white;
}